<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Interactive Address Book</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="shortcut icon" href="img/logo.png">
    </head>
    <body>
        <div class="container">
            <h1>30 Rock Interactive Employee Address Book</h1>
            <div class="form-group">
    			<input type="text" class="form-control" placeholder="Search" id="livesearch">
  			</div>

            <!-- search area -->

            <!-- container for the generated address book entries -->
            <div class="address-book">
				<script id='template' type='text/template'>
                    <% for (var i = 0; i < Employees.entries.length; i++) { %>
                        <div class="person searchable">
							<img class="pic" src="<%= Employees.entries[i].pic %>" alt=""/>
							<div class="details">
								<h2 class="name search_item search-this"><%= Employees.entries[i].first %> <%= Employees.entries[i].last %></h2>
								<p class="lead title search-this"><%= Employees.entries[i].title %></p>
								<p>Department: <span class="dept"><%= Employees.entries[i].dept %></span></p>
							</div>
						</div>

                        </div>
                    <% } %>
                </script>
            </div> <!-- .container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
		<script src="js/employees.js"></script>
        <script src="js/address-book.js"></script>
        <script src="js/live-search.js"></script>
    </body>
</html>
