

html{
	background: url(../img/pizza1.jpg) no-repeat center center fixed; 
  	background-size: cover;
}

#contact strong{
	color:#e23a00;
	font-size:2em;
	font-family: Oswald-Bold;
}
.youtube{
	width:585px;
	height:357px;

}
#twitter, #email{
	text-align:center;
}
#twitter a, #twitter a:visited, #twitter a:active, #email a, #email a:visited, #emailr a:active{
	color:#fff;	
}

#twitter a:hover, #email a:hover{
	color:#e23a00;	
}
#contact{
font-size:1.5em;
font-family: Oswald-Light;
}

#map_canvas{
height:300px;
width:585px;
}
.jobs{
	text-align:center;	
}

.jobs h1{
	color:#e23a00;
}

.btn-default{
	color:#e23a00;
}

#jobApp{
	color:#000;	
}

#logoText{
	display:none;	
}

@media (max-width: 1170px) {

	#map_canvas{
		width:385px;
	}
	.tubeyou{
		margin-top:40px;
		text-align:center;	
	}
}

@media (max-width: 995px) {
	#map_canvas{
		width:585px;
		margin:auto;
	}
}

@media (max-width: 480px) {

	#map_canvas{
		width:300px;
	}
	.tubeyou{
		margin-top:40px;
		text-align:center;	
	}
	
	.youtube{
	width:250px;
	height:130px;		
	}

}