html{
	background: url(../img/pizza-order.jpg) no-repeat center center fixed; 
  	background-size: cover;
}

h2{
	font-size:3em;
	font-family: 'Oswald-Bold', sans-serif;
	color:#e23a00;
	text-transform:uppercase;
}
#chalkboard{
	background-image:url('../img/chalkboard.png');
	background-size:cover;
	padding-right:50px;
	padding-left:60px;
	padding-top:50px;
	min-height:900px;
	margin-top:80px;
}
dt{
	color:#e23a00;	
}
@media (max-width: 1170px) {
	#chalkboard{
		background:rgba(0,0,0,0.7);
		padding: 10px;	
	}
}