@font-face {
font-family: Oswald-Light;
src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
font-family: Oswald;
src: url(../fonts/Oswald-Regular.ttf);
}


@font-face {
font-family: Oswald-Bold;
src: url(../fonts/Oswald-Bold.ttf);
}

html{
	background: url(../img/pizza-order.jpg) no-repeat center center fixed; 
  	background-size: cover;
}
body{
	background-color:transparent;
	color:#fff;
	font-family: 'Oswald', sans-serif;
}

p{
	font-size: 1.5em;	
}
#headline{
	text-align:center;
	margin-top:80px;	
}
.space{
	margin-top:80px;
}
#subline{
	font-size:3em;	
	text-align:center;
}
h1{
	font-size:10em;
	font-family: 'Oswald-Bold', sans-serif;
}

h2{
	font-size:3em;
	font-family: 'Oswald-Bold', sans-serif;
	color:#e23a00;
	text-transform:uppercase;
}
.navigation{
	list-style:none;
	display:block;
	text-align:center;
	margin-top:40px;
	
}

.navigation li{
	display:inline;
	padding-left:40px;
	font-family: 'Oswald-Light', sans-serif;
	font-size:2em;
}

.navigation li a{
	color:#fff;
}

.navigation li a:hover{
	color:#e23a00;
}

.accent{
	color:#e23a00;
	font-family: 'Oswald-Bold', sans-serif;	
		text-align:center;
	font-size:2.25em;
}
#contact strong{
	color:#e23a00;
	font-family: Oswald-Bold;

}
#chalkboard{
	background-image:url('../img/chalkboard.png');
	background-size:cover;
	padding-right:50px;
	padding-left:60px;
	padding-top:50px;
	min-height:900px;
	margin-top:80px;
}
.youtube{
	width:585px;
	height:357px;

}
#twitter, #email{
	text-align:center;
}
#twitter a, #twitter a:visited, #twitter a:active, #email a, #email a:visited, #emailr a:active{
	color:#fff;	
}

#twitter a:hover, #email a:hover{
	color:#e23a00;	
}
#contact{
font-size:1.5em;
font-family: Oswald-Light;
}

#map_canvas{
height:300px;
width:585px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0,0,0,0.3); /*dim the background*/
}

.jobs{
	text-align:center;	
}

.jobs h1{
	color:#e23a00;
}

.btn-default{
	color:#e23a00;
}

#jobApp{
	color:#000;	
}