@charset "utf-8";
/* CSS Document */
body{
	background-image:url(../img/bg.png);
	background-repeat:repeat;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
}
.container{
	width:850px;
	margin-right:auto;
	margin-left:auto;
	background-color:#fff;
	padding:10px;
	box-shadow: 4px 3px 27px 2px rgba(0,0,0,0.43);
	margin-top:20px;
	}

#logo{
	float:left;
}

h1{
	font-family: 'Boogaloo', cursive;
	font-size:36px;
	color:#116189;
	margin-bottom:0px;
}

h2{
	font-size:120%;
	font-weight:600;
	font-style:italic;
	margin-top:0px;
}

.navigation{
	display:block;
	background-color:#d74710;
	padding:10px;
	border-radius: 5px;
}

.navigation li{
	display:inline;
	list-style:none;
	margin-right:10px;
		
}

.navigation li a, .navigation li a:visited{
	color:#fff;
	text-decoration:none;
	font-size:	120%;
	font-weight:bold;
}

#factory{
	float:left;
	margin-right:10px;
}

#shipping{
	float:right;
	margin-left:10px;	
}

hr{
	display: block;
	height: 1px;
    border: 0;
	border-top: 1px solid #ccc;
    margin: 1em 0;
	padding: 0; 
}

.footer{
	border-top:1px solid #ccc;
	padding-top:5px;
}

.footer, .copyright {
	font-style: italic;	
}