@font-face {
font-family: Oswald-Light;
src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
font-family: Oswald;
src: url(../fonts/Oswald-Regular.ttf);
}


@font-face {
font-family: Oswald-Bold;
src: url(../fonts/Oswald-Bold.ttf);
}
.accent{
		color:#e23a00;	
}
body{
	background-color:transparent;
	color:#fff;
	font-family: 'Oswald', sans-serif;
}

p{
	font-size: 1.5em;	
}

#headline{
	text-align:center;
	margin-top:80px;	
}
.over{
	background-color:rgba(0,0,0,.5);
	padding:10px;
}
.space{
	margin-top:80px;
}
#subline{
	font-size:3em;	
	text-align:center;
}
h1{
	font-size:10em;
	font-family: 'Oswald-Bold', sans-serif;
}
h2{
	font-size:3em;
	font-family: 'Oswald-Bold', sans-serif;
	color:#e23a00;
	text-transform:uppercase;
}
.navigation{
	list-style:none;
	display:block;
	text-align:center;
	margin-top:40px;
	
}

.navigation li{
	display:inline;
	padding-left:40px;
	font-family: 'Oswald-Light', sans-serif;
	font-size:2em;
}

.navigation li a{
	color:#fff;
}

.navigation li a:hover{
	color:#e23a00;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0,0,0,0.3); /*dim the background*/
}
	#smallNav{
		display:none;
	}
	#bigNav{
		display:block;	
	}
@media (max-width: 1170px) {
		h1{
		font-size:8em;	
	}
}
@media (max-width: 995px) {
	.space{
		margin-top:40px;	
	}
		h1{
		font-size:7em;	
	}
	
	#headline{
		margin-top:0px;	
	}
}
@media (max-width: 480px) {
		body{
		font-size:12px;	
	}
	h1{
		font-size:5em;	
	}
	#smallNav{
		display:block;
	}
	#bigNav{
		display:none;	
	}
	
	#headline{
		margin-top:0px;	
	}
#subline{
	font-size:2em;	
	text-align:center;
}
}
