body {
	font-family: sans-serif;
}
h1 {
	text-align: center;
	text-transform: uppercase;
}
ul{
	list-style-type: none;
	padding: 0px;
}
li {
	padding: 5px;
	text-align: center;
}
nav li{
	color: white;
	background-color: black;
	margin: 2px;
}
footer ul {
	background-color: lightGrey;
	margin-bottom: 0px;
	font-size: 0px;
}
footer li {
	display: inline-block;
	width: 33.3%;
	font-size: 16px;
	padding: 2% 0%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	height: 200px;
}
section {
	padding: 5px;
}
section:first-of-type {
	font-size: 1.2em;
}


@media (min-width: 1200px) {
	nav ul li {
			display:inline-block;
	}
	nav ul {
		text-align:center;	
	}
	
	main{
		width:1170px;
		margin:auto;	
	}
	section{
		width:32%;
		float:left;
	}
	section:first-child{
		width:100%;
		float:left;
	}
	section:first-child img{
		float:left;
		margin-right:20px;
	}
	footer{
		clear:both;
		}
	}
	
@media (min-width: 768px) and (max-width:1200px) {
nav ul li {
			display:inline-block;
	}
	nav ul {
		text-align:center;	
	}
	
	main{
		width:750px;
		margin:auto;	
	}
	section{
		width:32%;
		float:left;
	}
	section:first-child{
		width:100%;
		float:left;
	}
	section:first-child img{
		float:left;
		margin-right:20px;
	}
	footer{
		clear:both;
		}
}