@charset "utf-8";
/* CSS Document */

.frame {
	background-image:url(../img/man.png);
	background-repeat:no-repeat;
	margin:auto;
	height:50px;
	width:40px;
}
#indicator{
	display:inline-block;
	height:100px;
	width:100px;
	float:right;	
}
.start{
	background-color:green;	
}

.stop{
	background-color:red;	
}
section{
	margin:auto;
}
.frame1 {
	background-position: -1px -1px;
}

.frame2 {
	background-position: -43px -1px;
}

.frame3 {
	background-position: -85px -1px;
}

.frame4 {
	background-position: -127px -1px;
}

.frame5 {
	background-position: -172px -1px;
}
.frame6 {
	background-position: -214px -1px;
}


.frame7 {
	background-position: -1px -52px;
}

.frame8 {
	background-position: -43px -52px;
}

.frame9 {
	background-position: -85px -52px;
}

.frame10 {
	background-position: -127px -52px;
}

.frame11 {
	background-position: -172px -52px;
}
.frame12 {
	background-position: -214px -52px;
}


.frame13 {
	background-position: -1px -103px;
}

.frame14 {
	background-position: -43px -103px;
}

.frame15 {
	background-position: -85px -103px;
}

.frame16 {
	background-position: -127px -103px;
}

.frame17 {
	background-position: -172px -103px;
}
.frame18 {
	background-position: -214px -103px;
}


.frame19 {
	background-position: -1px -154px;
}

.frame20 {
	background-position: -43px -154px;
}

.frame21 {
	background-position: -85px -154px;
}

.frame22 {
	background-position: -127px -154px;
}

.frame23 {
	background-position: -172px -154px;
}
.frame24 {
	background-position: -214px -154px;
}


.frame25 {
	background-position: -1px -205px;
}

.frame26 {
	background-position: -43px -205px;
}

.frame27 {
	background-position: -85px -205px;
}

.frame28 {
	background-position: -127px -205px;
}

.frame29 {
	background-position: -172px -205px;
}
.frame30{
	background-position: -214px -205px;
}